* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
ul {
  list-style-type: none;
}

ul .li-items::marker {
  content: "✔";
  color: green;
  font-size: 1.5rem;
}
/* footer-start */
.footer {
  background-color: #1f3965;
}
.footer-img {
  height: 30vh;
  border-radius: 1rem;
}
hr {
  border-color: aliceblue;
}
