* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-seri;
}
#container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
/* ----left-icon-start--------- */
.left-icon {
  width: 7%;
  background-color: #eaf1fb;
}
.icon-bars {
  font-size: 25px;
  color: #747478;
  padding: 1rem;
}

.left-icon-item {
  list-style-type: none;
}
.left-li {
  padding: 0.3rem;
}
.items {
  font-size: 0.9rem;
  padding: 0.6rem 1rem 0.9rem 1rem;
}
.left-li:hover {
  background-color: #a4a7aa;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
}
/* ----left-icon-end--------- */
/* -----side-left-navbar-start---- */
.left-side {
  width: 23%;
  background-color: #f6f8fc;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 1.4rem;
  justify-content: start;
}

.logo img {
  width: 100px;
  height: 22px;
}
/* ----nav-bar-start------- */
.h3 {
  margin-left: 15px;
}
.sub-h3 {
  padding: 0.7rem 0.3rem 0.5rem 0.2rem;
  border-radius: 4rem;
  border: none;
  background-color: #c2e7ff;
  font-size: 0.9rem;
  width: 75%;
  height: 2.5rem;
  color: #606164;
}
.sub-h3:hover {
  box-shadow: 0px 0px 5px 0px #c2e7ff;
  width: 78%;
  height: 2.8rem;
}
.Compose {
  padding-right: 0.5rem;
  color: #606164;
  padding-left: 0.5rem;
}
.navbar-left {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 88vh;
  box-shadow: 0px 0px 10px 5px #f6f8fc;
}
.nav-menu-item {
  list-style-type: none;
  padding: 1rem;
}
.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  padding: 0.3rem;
  font-size: 0.9rem;
}
.nav-icon {
  padding-right: 1.5rem;
  color: #001d35;
  padding-left: 1rem;
}
.nav-item > a {
  text-decoration: none;
  color: #001d35;
}
.nav-item:hover {
  color: #a4a7aa;
  background-color: #d3e3fd;
  cursor: pointer;
  border-radius: 0.9rem;
}
.nav-icon:hover,
.nav-item > a:hover {
  color: #a4a7aa;
}
/* ----label-----part-- */
.lables {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #606164;
}
.blank {
  visibility: hidden;
}
.lables a {
  color: #606164;
}
/* ----label-----part-end- */

/* ----center-part-start---- */
.center-side {
  width: 100%;
  background-color: #f6f8fc;
}
/* -----header first-search-point-start-- */
.header {
  display: flex;
  width: 100%;
  margin-top: 0.3rem;
}
.first-center {
  display: flex;
  width: 80%;
}
#search {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 3.2rem;
}
.search-icon {
  padding-right: 0.5rem;
}
input {
  outline: none;
  border: none;
  background-color: #f6f8fc;
}

#search:hover {
  background-color: #ffffff;
  color: #606164;
  box-shadow: 0px 0px 5px 1px #a4a7aa;
}

.second-center {
  display: flex;
  width: 20%;
  justify-content: space-around;
  padding: 1rem;
  color: #606164;
  font-size: 1.2rem;
}
.nav-item-more {
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  padding: 0.3rem;
  font-size: 0.9rem;
}
.dropdown {
  position: absolute;
}
.dropdown-list {
  display: none;
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: 1;
  padding: 2.3rem 1rem;
  border-radius: 1rem;
}
.create-i {
  padding-right: 1.5rem;
  color: #001d35;
  padding-left: 1rem;
}
.create-i:hover {
  background-color: #c2c2c2;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-list {
  display: block;
  cursor: pointer;
}
.more:hover {
  color: #0563f9;
}
/* -----header-first-and second-point-end-- */
#main-center-msg {
  background-color: #d3e3fd;
  margin-top: 0.1rem;
  border-radius: 1rem;
  width: 100%;
}
.icons {
  display: flex;

  justify-content: space-between;
  padding: 0.8rem 0.5rem;
}
.left-first {
  display: flex;
  width: 20%;
  justify-content: space-around;
}
.icons-second {
  display: flex;
  width: 20%;
  justify-content: space-around;
}
/* --------index-part-start---------- */
#overflow {
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 10px 5px rgb(243 242 242);
}
.inbox-1 {
  display: flex;
  justify-content: space-between;
}

#ul {
  list-style-type: none;
  display: contents;
}
.li {
  padding: 0.5rem;
}
.sub-head {
  padding: 0.3rem 0.6rem;
}
.li a {
  text-decoration: none;
}

#messege {
  display: flex;
  align-items: center;
}
.inbox-mail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #d9dde2;
  border-bottom: 1px solid #d9dde2;
  /* word-spacing: 0.1rem;
  font-size: 1.1rem; */
  font-weight: 700;
  height: 2.5rem;
}
.first-inbox {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}
.first-inbox  p {
  margin-top: 0.9rem;
}
.second-inbox {
  width: 75%;
  word-spacing: 0.1;
}
a {
  text-decoration: none;
  color: #202124;
}
.content {
  margin-top: 0.9rem;
  white-space: nowrap;
  width: 47.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ffffff;
}
.para-hidden {
  padding-right: 1.5rem;
  color: #001d35;
  padding-left: 1rem;
}
.para-hidden:hover {
  background-color: #c2c2c2;
  border-radius: 0.5rem;
}
.dropdown-messege:hover .dropdown-hidden-messege {
  display: block;
  cursor: pointer;
}
.content:hover {
  color: black;
}
.third-inbox {
  width: 10%;
}
.mail-icon {
  padding: 15% 0% 15% 3%;
  color: #d9dde2;
}
.mail-icon:hover {
  color: #202124;
}
.para {
  text-overflow: ellipsis;
}
/* ----right-side-start--------- */
.right-icon-five {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.right-image img{
  width: 3rem;
  height: 2rem;
  border-radius: 4rem;
  margin-top: 1rem;
}
.right-side-icons-items {
  padding: 1rem;
  font-size: 1.5rem;
}
.colorful {
  color: yellowgreen;
}
.yellow {
  color: gold;
}
.blue {
  color: blue;
}
.blue-circle {
  border-radius: 1.5rem;
  color: blue;
}
